# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.MV_Lab1.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\nevar\RiderProjects\MV_Lab1\.idea\.idea.MV_Lab1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
